<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VisualEssence</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VisualEssence.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="app"></div>
    <header class="App-header">
        <nav>
            <ul>
                <div class='ul-img'>
                    <img class="logo" src="/lib/img/logo.png"> </img>
                </div>
                <div class='ul-cont'>
                    <a class='cont-item' > SOBRE</a>
                    <a class='cont-item' > ONG</a>
                    <a class='cont-item' > JOGOS</a>
                    <a class='cont-item' > CONTATO </a>
                    <a class='cont-icon' </a> 
                </div>

                <div class='ul-Perfil'>
                    <img class='ul_imgPerfil' src="/lib/img/crianca.png"></img>
                </div>

                <div class='ul-logout'>
                    <a><IoLogOutOutline /></a>
                </div>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <style>
                container{
                    background-color:#252525;
                }
            </style>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - VisualEssence - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
